<ion-view hide-nav-bar="true" view-title="Login">
  <ion-content>
  <div class="wrap">
    <div class="padding">
      <img ng-src="img/ionic.png" class="img">
    </div>
    <div class="padding">
     <login></login>
    </div>
    <div class="row">
      <div class="col col-50">      
        <div class="padding">
        Forgot Password ? <a ng-href="#/app/forgot" class="link-positive">Click Here</a>
        </div>
      </div>
      <div class="col col-50">
        <div class="padding">
        <span style="float: right;">
        New User ? <a  ng-href="#/app/signup" class="link-positive">Click Here</a>
        </span>
        </div>      
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
