<form  name="signupFrm" ng-submit="signup(signupFrm)" novalidate> 
<div ng-show="!isEmpty(msg)">
  <div class="padding">
    <ul class="error">
      <li>{{msg}}</li>
      <li>{{msg.email[0]}}</li>
      <li>{{msg.phone[0]}}</li>
       <li>{{msg.password[0]}}</li>
    </ul>
  </div>
</div>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="Full Name" name="first_name" ng-model="user.first_name" required>
    <span ng-if="signupFrm.$submitted || signupFrm.first_name.$touched">
        <span class="error" ng-if="signupFrm.first_name.$error.required">
        Please Enter Your Full Name
        </span>
    </span>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email Address</span>
    <input type="email" placeholder="Email Address" name="email" ng-model="user.email" required>
    <span ng-if="signupFrm.$submitted || signupFrm.email.$touched">
        <span class="error" ng-if="signupFrm.email.$error.required">
        Please Enter Your Email Address
        </span>
        <span class="error" ng-show="signupFrm.email.$error.email">Invalid email address.</span>   
    </span>
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">Contact Number</span>
    <input type="number" placeholder="Contact Number" name="phone" ng-model="user.phone" required>
    <span ng-if="signupFrm.$submitted || signupFrm.phone.$touched">
        <span class="error" ng-if="signupFrm.phone.$error.required">
        Please Enter Your Mobile Number
        </span>
        <span class="error" ng-show="signupFrm.phone.$error.number">Invalid Mobile It must be Integer.</span>   
    </span>
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password" name="password" ng-model="user.password" required>
    <span ng-if="signupFrm.$submitted || signupFrm.password.$touched">
        <span class="error" ng-if="signupFrm.password.$error.required">
        Please Enter Your Password
        </span>
    </span>
  </label>
  <button type="submit" id="signup-button1" class="button button-block button-positive">
  Signup
</button>
</div>
</form>