/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.error{
    color: red;
}
.success{
    color: green;
}
.wrap{
    margin-top: 70px;
}
.wrap-signup{
    margin-top: 20px;   
}
.img{
    margin: auto !important;
    display: block;
}
.table-bordered {
    border: 1px solid #DDD;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #DDD;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0px none;
}
td,th{
	padding: 10px !important;
}
.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
}
.link-positive{

    color:#0c60ee;
    text-decoration: none;
}